# Bank 0

NET "IO_L02_P_0"           LOC = "P83" | IOSTANDARD = "LVCMOS18" | PULLDOWN="TRUE";
NET "IO_L02_N_0"           LOC = "P84" | IOSTANDARD = "LVCMOS18";
NET "IO_L03_P_0"           LOC = "P85" | IOSTANDARD = "LVCMOS18" | DRIVE="8";
NET "IO_L03_N_0"           LOC = "P86" | IOSTANDARD = "LVCMOS18" | DRIVE="8";
NET "IO_L04_P_0"           LOC = "P88" | IOSTANDARD = "LVCMOS18" | DRIVE="8";
NET "IO_L04_N_0"           LOC = "P89" | IOSTANDARD = "LVCMOS18" | DRIVE="8";
NET "IO_0"                 LOC = "P90" | IOSTANDARD = "LVCMOS18";
NET "IO_L05_P_0"           LOC = "P93" | IOSTANDARD = "LVCMOS18" | DRIVE="8";
NET "IO_L05_N_0"           LOC = "P94" | IOSTANDARD = "LVCMOS18" | DRIVE="8";
NET "IP_0"                 LOC = "P97" | IOSTANDARD = "LVCMOS18" | PULLUP="TRUE";
NET "IO_L06_P_0"           LOC = "P98" | IOSTANDARD = "LVCMOS18" | DRIVE="8";

# Bank 1
NET "IO_L01_P_1"           LOC = "P56" | IOSTANDARD = "LVCMOS18";
NET "IO_L01_N_1"           LOC = "P57" | IOSTANDARD = "LVCMOS18";
NET "IO_L02_P_1"           LOC = "P59" | IOSTANDARD = "LVCMOS18";
NET "IO_L02_N_1"           LOC = "P60" | IOSTANDARD = "LVCMOS18";
NET "IO_L03_P_1"           LOC = "P61" | IOSTANDARD = "LVCMOS18";
NET "IO_L03_N_1"           LOC = "P62" | IOSTANDARD = "LVCMOS18";
NET "IO_L04_P_1"           LOC = "P64" | IOSTANDARD = "LVCMOS18";
NET "IO_L04_N_1"           LOC = "P65" | IOSTANDARD = "LVCMOS18";
NET "IO_L05_P_1"           LOC = "P70" | IOSTANDARD = "LVCMOS18";
NET "IO_L05_N_1"           LOC = "P71" | IOSTANDARD = "LVCMOS18";
NET "IO_L06_P_1"           LOC = "P72" | IOSTANDARD = "LVCMOS18";
NET "IO_L06_N_1"           LOC = "P73" | IOSTANDARD = "LVCMOS18" | DRIVE="8";

# Bank 2
net "IO_L01_N_2"           LOC = "P25" | IOSTANDARD = "LVCMOS25";
net "IO_L02_N_2"           LOC = "P27" | IOSTANDARD = "LVCMOS25";
net "IO_L03_P_2"           LOC = "P28" | IOSTANDARD = "LVCMOS25";
net "IO_L04_P_2"           LOC = "P29" | IOSTANDARD = "LVCMOS25";
net "IO_L03_N_2"           LOC = "P30" | IOSTANDARD = "LVCMOS25";
net "IO_L04_N_2"           LOC = "P31" | IOSTANDARD = "LVCMOS25";
net "IO_L05_P_2"           LOC = "P32" | IOSTANDARD = "LVCMOS25";
net "IO_L06_P_2"           LOC = "P33" | IOSTANDARD = "LVCMOS25";
net "IO_L05_N_2"           LOC = "P34" | IOSTANDARD = "LVCMOS25";
net "IO_L06_N_2"           LOC = "P35" | IOSTANDARD = "LVCMOS25";
net "IO_L07_P_2"           LOC = "P36" | IOSTANDARD = "LVCMOS25" | DRIVE="8";
net "IO_L07_N_2"           LOC = "P37" | IOSTANDARD = "LVCMOS25" | DRIVE="8";

net "IO_L08_P_2"           LOC = "P40" | IOSTANDARD = "LVCMOS25";
net "IO_L08_N_2"           LOC = "P41" | IOSTANDARD = "LVCMOS25";

net "IO_L09_P_2"           LOC = "P43" | IOSTANDARD = "LVCMOS25" | DRIVE="8";
net "IO_L09_N_2"           LOC = "P44" | IOSTANDARD = "LVCMOS25";

net "IO_2"                 LOC = "P46" | IOSTANDARD = "LVCMOS25";

net "IO_L10_P_2"           LOC = "P48" | IOSTANDARD = "LVCMOS25";
net "IO_L10_N_2"           LOC = "P49" | IOSTANDARD = "LVCMOS25";
net "IO_L11_P_2"           LOC = "P50" | IOSTANDARD = "LVCMOS25";
net "IO_L11_N_2"           LOC = "P51" | IOSTANDARD = "LVCMOS25";
net "IO_L12_P_2"           LOC = "P52" | IOSTANDARD = "LVCMOS25";
net "IO_L12_N_2"           LOC = "P53" | IOSTANDARD = "LVCMOS25";

# Bank 3
net "IO_L01_P_3"           LOC = "P3"  | IOSTANDARD = "LVCMOS18";
net "IO_L01_N_3"           LOC = "P4"  | IOSTANDARD = "LVCMOS18";
net "IO_L02_P_3"           LOC = "P5"  | IOSTANDARD = "LVCMOS18";
net "IO_L02_N_3"           LOC = "P6"  | IOSTANDARD = "LVCMOS18";
net "IP_3"                 LOC = "P7"  | IOSTANDARD = "LVCMOS18";
net "IO_L03_P_3"           LOC = "P9"  | IOSTANDARD = "LVCMOS18";
net "IO_L03_N_3"           LOC = "P10" | IOSTANDARD = "LVCMOS18";
net "IO_L04_P_3"           LOC = "P12" | IOSTANDARD = "LVCMOS18";
net "IO_L04_N_3"           LOC = "P13" | IOSTANDARD = "LVCMOS18";
net "IO_L05_P_3"           LOC = "P15" | IOSTANDARD = "LVCMOS18";
net "IO_L05_N_3"           LOC = "P16" | IOSTANDARD = "LVCMOS18";
net "IO_L06_P_3"           LOC = "P19" | IOSTANDARD = "LVCMOS18";
net "IO_L06_N_3"           LOC = "P20" | IOSTANDARD = "LVCMOS18";

# Timing
NET "IO_0"                 TNM_NET = IO_0;
TIMESPEC TS_IO_0 = PERIOD "IO_0" 40 ns HIGH 50%;

# PLL Clock from IDT chip
NET "IO_L02_N_0"           TNM_NET = IO_L02_N_0;
TIMESPEC TS_IO_L02_N_0 = PERIOD "IO_L02_N_0" 7.5 ns HIGH 50%;

# ADC Source clock
NET "IO_L02_P_0"           TNM_NET = TG_adcClk;
TIMESPEC TS_adcClk = PERIOD "TG_adcClk" 7.5 ns HIGH 50%;

# Multicycle relaxation for 2nd stage CIC
NET "*cenCic1" TNM_NET = TG_cenCic1;
TIMESPEC TS_cenCic1_to_cenCic1 = FROM "TG_cenCic1" TO "TG_cenCic1" TS_adcClk * 2;
TIMESPEC TS_adcClk_to_cenCic1  = FROM "TG_adcClk"  TO "TG_cenCic1" TS_adcClk * 2;


OFFSET = IN 1.3 ns VALID 2 ns BEFORE "IO_L02_N_0" RISING;
OFFSET = IN 1.3 ns VALID 2 ns BEFORE "IO_L02_N_0" FALLING;
