
# Bank 2
net "IO_L08_P_2"           LOC = "P40" | IOSTANDARD = "LVCMOS25";
net "IO_L08_N_2"           LOC = "P41" | IOSTANDARD = "LVCMOS25";

net "IO_L09_N_2"           LOC = "P44" | IOSTANDARD = "LVCMOS25";
net "IO_L10_N_2"           LOC = "P49" | IOSTANDARD = "LVCMOS25";
net "IO_L11_P_2"           LOC = "P50" | IOSTANDARD = "LVCMOS25";
